body {
    background-color: #C8FFC8;
}

#apple {
    position: fixed;
    z-index: 100;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 20vw;  
    height: 20vw;
}

#text {
    font-family: 'Nunito', sans-serif;
    position: fixed;
    left: 50%;  
    transform: translateX(-50%); 
    font-size: 3vw;
    transition-duration: 0.2s;
    transition-property: opacity;
    text-align: center;
}